body{
    background-color: #a2bedb;
  }
  #titulo{
    color: red;
     font-family: Impact, Charcoal, sans-serif;
  }
  
  td{
        width: 100px;
        height: 100px;
        border: 4px solid orange;
        font-size: 60px;
        color: red;
        text-align: center;
    }
  #tablero {
    border-radius: 9px;
    background-color: #646996; 
      /*#fce28d; naranja para cambiar*/
  }
  .btn-warning{
    border-radius: 9px ;
    color: blue;
    font-weight: bold;
  }
  #final{
    align-content: center;
  }
  #mensaje{
    font-size: 1.5em;
    color: red;
  }