html{
    height: 100%;
}


p :hover{
    color: white;
}

footer {
    border-top: 3px solid #00ff00;
   margin-top: auto;
   width: 100%;
    /* bottom: 0;
    width: 100%;
    height: 20px;
    color: white;

     bottom:-10px;
    display: flex; */
}
#container-footer{
    background-color: black;
    height:80px ;
} 

footer,a,h3, h1, p {
    color: #00ff00;
    text-decoration: none;
}