/* CSS nav */
#navContenedor {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column, .row, #logo {
    justify-content: center;
    align-items: center;

}

#logo {
    width: 200px;
    height: 200px;
    display: none;
}

#fotoPerfil {
    width: 128px;
    height: 128px;
    margin-left: 20%;
}

ul {
    align-items: center;
}



@media screen and (min-width: 501px) and (max-width: 1000px) {
    
    ul {
        display: flex;
        flex-direction: row!important;
    }
}
